footer {
    padding-top: 1rem;
    background-color: black;

    button {
        color: white;
        text-transform: uppercase;
        padding: .4rem .6rem;
        background-color: black;
        border: 1px solid #0282f9;
    }
}